<html>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/styles.css" />
  <body>
    <%- include('./partials/nav.ejs') %>

      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="not-found content">OOPS, page not found!</div>
  </body>
    <%- include('./partials/footer.ejs') %>
</html>
